* {
  font-family:Verdana;
}
form {
  min-width:400px;
  margin:20px;
  position:absolute;
  right:0;
  z-index: 10;
  padding:20px 20px 20px 20px;
  font-family:Arial;
  -webkit-box-shadow: -1px 0px 22px 6px rgba(0,0,0,0.22);
-moz-box-shadow: -1px 0px 22px 6px rgba(0,0,0,0.22);
box-shadow: -1px 0px 22px 6px rgba(0,0,0,0.22);
}
label {
  display:block;
  text-transform:uppercase;
  font-size:12px;
}
input {
  font-size:15px;
  padding:5px;
  width:100%;
  max-width: -webkit-fill-available;
}
.half-input {
  display:table;
  width:100%;
}
.half-input input {
  display:table-cell;
  width:47.5%;
  box-shadow: inset 0 0 1px #000;
  border:0px;
}
.half-input input.last {
  margin-left:0px;
}
.form-group {
  margin-bottom:10px;
}
form button {
  width:100%;
  border-radius:0px;
  padding: 15px;
  font-size:16px;
  background-color:purple;
  color:#fff;
  cursor:pointer;
  text-transform:uppercase;
}
textarea {
  margin:30px 10px;
  padding:20px;
  border: none;
  background-color:white;
  width:50%;
  height:200px;
  -webkit-box-shadow: -1px 0px 22px 6px rgba(0,0,0,0.22);
-moz-box-shadow: -1px 0px 22px 6px rgba(0,0,0,0.22);
box-shadow: -1px 0px 22px 6px rgba(0,0,0,0.22);
}
#signatureHtml {
  position:relative;
}
.btn-clipboard {
  margin-top:40px;
  border-radius:0px;
  padding: 10px 20px;
  text-transform:uppercase;
  border:0px;
  font-size:13px;
  background-color:purple;
  color:#fff;
  cursor:pointer;
  -webkit-box-shadow: -1px 0px 22px 6px rgba(0,0,0,0.22);
-moz-box-shadow: -1px 0px 22px 6px rgba(0,0,0,0.22);
box-shadow: -1px 0px 22px 6px rgba(0,0,0,0.22);
}
.use-chrome-warning {
  display:inline;
}
